In [1]:
import os, sys
import numpy as np
from os.path import dirname
from pandas import DataFrame, read_csv
from tqdm import tqdm
ROOT_DIR = dirname(dirname(dirname(os.path.realpath('__file__'))))
np.random.seed(47404)

100%|██████████| 7/7 [00:04<00:00,  1.64it/s]
100%|██████████| 7/7 [00:03<00:00,  1.87it/s]

In [7]:
reliability.query('Group == 0')

   Param Type  Group      Mean      2.5%     97.5%
0     b1   sh      0 -0.019033 -0.040913 -0.003034
4     b2   sh      0 -0.199333 -0.255465 -0.154230
8     b3   sh      0 -0.033795 -0.109573  0.046834
12    b4   sh      0 -0.054707 -0.144799  0.037911
16    a1   sh      0  0.360207  0.260770  0.481324
20    a2   sh      0  0.319929  0.240329  0.406474
24    c1   sh      0  0.178150  0.015593  0.264629
28    b1  trt      0  0.125182  0.098021  0.154263
32    b2  trt      0 -0.009815 -0.024812  0.003694
36    b3  trt      0  0.317536  0.170949  0.451586
40    b4  trt      0  0.227127  0.118703  0.322944
44    a1  trt      0  0.415287  0.307219  0.533786
48    a2  trt      0 -0.078089 -0.153670  0.014722
52    c1  trt      0  0.240493  0.086766  0.337854